<section class="cart-section spad">
		<div class="container">
			<div class="row" >
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Your Cart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th><h6>Product Name</h6></th>		
									<th><h6>Price LKR</h6></th>
									<th><h6>Action</h6></th> 
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of items">
									<td >
										<!-- <img src="img/cart/1.jpg" alt=""> -->
										<div>
											<h6>{{item.productName}}</h6>
										</div>
									</td>
									
									<td >
										<div>
					                        <div>
												<h6>{{ item.unitPrice| currency:'LKR'}}</h6>
											</div>
                    					</div>
									</td>
									<td >
										<div >
					                        <div>
												<button type="button" class="close" aria-label="Remove Item" (click)="removeItemFromCart(item.id)">
													<span aria-hidden="true">&times;</span>
												  </button> 
											</div>
                    					</div>
									</td>
								</tr>			
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>{{totalAmmount | currency:'LKR'}}</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<a class="site-btn sb-yellow" (click)="emptyCart()"> Clear Cart</a>
					<a href="" class="site-btn">Proceed to checkout</a>
					<a routerLink=" " class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>