<div class="fixed-top">
        <button type="button" class="btn btn-secondary btn-lg float-right" routerLink="/productCart"> <i class="flaticon-bag"></i><span class="badge badge-dark">{{cartitemcount}}</span></button>
      </div>
  
      <section class="product-filter-section">
      <div class="container">
        <div class="section-title">
          <h2>BROWSE TOP SELLING PRODUCTS</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-6"*ngFor="let product of (products$ | async); let i = index;">
            <div class="product-item">
              <div class="pi-pic">
                <img src="./assets/productimages/{{product.imagePath}}" alt="">        
                 <div class="pi-links">
                  <a class="add-card" (click)="addToCart(product)"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                 
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div> 
              </div>z
              <div class="pi-text">
                <h6>{{product.productName}}</h6>
                <h6>LKR {{product.unitPrice}}</h6>
              </div>
              <div>
                <p>{{product.description}} </p>
                <!-- <p hidden>Avialable Units {{product.unitsInStock}} </p> -->
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </section>
   
      <!-- <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div> -->

     
      <!-- Product List section end -->
  
  