<body>
  <!-- Header section -->
    <header class="header-section">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 text-center text-lg-left">
                 <h2>Shop Me</h2>
            </div>
            <div class="col-xl-6 col-lg-5">
              <form class="header-search-form">
                <input type="text" placeholder="Search on here ....">
                <button><i class="flaticon-search"></i></button>
              </form>
            </div>
            <div class="col-xl-4 col-lg-5">
              <div class="user-panel">
                <div class="up-item">
                  <i class="flaticon-profile"></i>
                  <a href="#">Sign</a> In or <a href="#">Create Account</a>
                </div>
                <div class="up-item">
                  <div class="shopping-card">
                    <i class="flaticon-bag"></i>
                    <span>0</span>
                  </div>
                  <a href="#">Shopping Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="main-navbar">
        <div class="container">
          <!-- menu -->
          <ul class="main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="./cart.html">Cart</a></li>
            <li><a href="./checkout.html">Checkout</a></li>
            <li><a href="./contact.html">Contact
              <span class="badge badge-pill badge-success">Call Me</span></a></li>
  
          </ul>
        
        </div>
      </nav>
      </header>
    
    <section class="hero-section">
      
    </section>
    
  

          <!-- Product List section -->
      <section class="product-filter-section">
      <div class="container">
        <div class="section-title">
          <h2>BROWSE TOP SELLING PRODUCTS</h2>
        </div>
        
        <div class="row">
          <div class="col-lg-3 col-sm-6"*ngFor="let product of (products$ | async); let i = index;">
            <div class="product-item">
              <div class="pi-pic">
                <img src="./assets/productimages/{{product.imagePath}}" alt="">              
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                  <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                </div>
              </div>
              <div class="pi-text">
                <h6>{{product.productName}}</h6>
                <h6>LKR {{product.unitPrice}}</h6>
              </div>
              <div>
                <p>{{product.description}} </p>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </section>
      <!-- Product List section end -->
      
  <!-- Footer section -->
  <section class="footer-section">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-4 col-sm-8">
          <div class="footer-widget about-widget">
            <h2>About</h2>
            <p>We offer the best and most delectable range of Kaumadi's oven cakes baked by our own in-house pastry chefs who have years of experience in the confectioneries and comes with the guarantee of delicious, scrumptious taste and true value for money.</p>
            <img src="./assets/img/cards.png" alt="">
          </div>
        </div>
      
        <div class="col-lg-4 col-sm-8">
          <div class="footer-widget about-widget">
            <h2>Location</h2>
            <div class="footer-widget contact-widget">
              <div class="con-info">
                <span>B.</span>
                <p>203A ,Fantacy Garden <br> Malabe </p>  
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div class="footer-widget contact-widget">
            <h2>Info</h2>
            <div class="con-info">
              <span>T.</span>
              <p>+94 71 488 4026</p>
            </div>
            <div class="con-info">
              <span>E.</span>
              <p>kaumadimarasinghe@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-links-warp">
      <div class="container">
        <div class="social-links">
          <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
          <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        
        </div>
  
  <!-- Link to license --> 
  <p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This page is made with  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Kaumadi</a></p>
  <!-- Link to license -->
  
      </div>
    </div>
  </section>
  <!-- Footer section end -->
  </body>
  