<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <!-- <form #paymentForm="ngForm"class="checkout-form"> -->
                    <form [formGroup]="paymentform" class="checkout-form">
                    <div class="cf-title">Billing Address</div>
                    <div class="row">
                        <div class="col-md-7">
                            <p>*Billing Information</p>
                        </div>    
                    </div>
                    <div class="row address-inputs">
                        <div class="col-md-6">
                            <input type="text" formControlName="firstName" placeholder="Customer Name" disabled>
                        </div>
                        <div class="col-md-6">
                            <input type="text" formControlName="lastName" placeholder="Customer Name" disabled> 
                        </div>
                      
                            <div class="col-md-12">
                            <input  type="text" formControlName="address" placeholder="Address" disabled>
                            <input  type="text" formControlName="email" placeholder="Email" disabled>
                        </div>
                      
                        <!-- <input type="text" class="form-control" 
                        required
                        [(ngModel)]="currentUser.firstName" name="name"> -->
               
                      
                        <div class="col-md-6">
                            <input type="text" formControlName="contact" placeholder="Phone no." disabled>
                        </div>
                       
                    </div>
              
                   
                    <div class="cf-title">Payment</div>
                   
                   <div>
                       
                   </div>
                    <ul class="payment-list">
                       <li> <div class="col-6">
                            
                                <div>
                                    <input type="radio" value="paypal"  formControlName="paymentMethod" (change)="changePaymentMethod($event)" class="form-check-input">
                                    <label for="ship-1">Paypal</label>
                                </div>
                            
                        </div>
                    </li>
                        <li><div class="col-6">
          
                                <div >
                                    <input  type="radio" value="cardPayment"  formControlName="paymentMethod" (change)="changePaymentMethod($event)" class="form-check-input">
                                    <label for="ship-1">Credit / Debit card</label>
                                </div>
                            
                        </div></li>
                        <li><div class="col-6">
                           
                                <div>
                                    <input  type="radio" value="cashOnDelivary"  formControlName="paymentMethod"  (change)="changePaymentMethod($event)" class="form-check-input">
                                    <label for="ship-1">Pay when you get the package</label>
                                </div>
                            
                        </div>
                        
                    </li>
                        
                    </ul>

                    <button class="site-btn submit-order-btn" (click)="Payment($event)">Place Order</button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Your Cart</h3>
              
                    <ul *ngFor="let item of items" class="product-list">
                       <li>
                            <!-- <div class="pl-thumb"><img src="img/cart/1.jpg" alt=""></div> -->
                            <h6>{{item.productName}}</h6>
                            <p>orderd items :{{item.orderdQty}}</p>
                            <p>{{ (item.orderdQty * item.unitPrice) | currency:'LKR ' }}</p>
                        </li>
                       
                    </ul>
                    <ul class="price-list">
                       
                        <li class="total">Total : LKR{{cartTotal}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout section end -->