<!-- Header section -->
<header  class="header-section">

  <div  class="header-top">
    <div class="container">
      <div class="raw">
        <div class="col-lg-4 text-center text-lg-left">
          <h1>Shop Me </h1>
        </div>
     
       
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile "></i>
             
              <a routerLink="/login">Sign</a> In or <a routerLink="/register">Create Account</a>
            </div>
            <div class="shopping-card">
              <div class="up-item">
                <i class="flaticon-bag"></i>
                <a routerLink="/productCart">Shopping Cart</a>
              </div>
            </div> 
           
          </div>
        </div>
     
      </div>
    </div>
  </div>
  <div class="header-user">
  
    <div *ngIf="show"><h6>Hi {{currentUser.firstName}} {{currentUser.lastName}}!</h6>
      <p>You're logged in with Shop Me!!</p>
   <a (click)="logout()">Logout</a><i class="flaticon-profile"></i>
     </div>
    </div> 
       
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/productCart">Cart</a></li>
        <li><a routerLink="">Contact
           <span class="badge badge-pill badge-success">Call Me</span></a></li>
           <div *ngIf="show">
           <li><a [routerLink]="['/paymentHistory', currentUser.customerId]">Payment History</a></li>
          </div>
      </ul>
    </div>
  </nav>
</header>
<section class="hero-section">
</section>