
<!-- Footer section -->
<section class="footer-section">
    <div class="container">
      
      <div class="row">
        <div class="col-lg-4 col-sm-8">
          <div class="footer-widget about-widget">
            <h2>About</h2>
            <p>We offer the best and most delectable range of Kaumadi's oven cakes baked by our own in-house pastry chefs who have years of experience in the confectioneries and comes with the guarantee of delicious, scrumptious taste and true value for money.</p>
            <img src="./assets/img/cards.png" alt="">
          </div>
        </div>
      
        <div class="col-lg-4 col-sm-8">
          <div class="footer-widget about-widget">
            <h2>Location</h2>
            <div class="footer-widget contact-widget">
              <div class="con-info">
                <span>B.</span>
                <p>203A ,Fantacy Garden <br> Malabe </p>  
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8">
          <div class="footer-widget contact-widget">
            <h2>Info</h2>
            <div class="con-info">
              <span>T.</span>
              <p>+94 71 488 4026</p>
            </div>
            <div class="con-info">
              <span>E.</span>
              <p>kaumadimarasinghe@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-links-warp">
      <div class="container">
        <div class="social-links">
          <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
          <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
        
        </div>
  
  <!-- Link to license --> 
  <p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This page is made with  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Kaumadi</a></p>
  <!-- Link to license -->
  
      </div>
    </div>
  </section>
  <!-- Footer section end -->
